body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.btn {
    background: #007bff;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #007bff;
    color: white;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}